@charset "UTF-8";

/*---------------------------------------------------------------------*/
/*Formatação do body*/
/*---------------------------------------------------------------------*/
body {
	background: url('background.png');
}

div#interface {
	width: auto;
	background-color: rgba(255,255,206, 1);
	margin: 10px auto 0px auto; 
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
	padding: 10px;
}

p{
	text-align: justify;
	text-indent: 50px;
}

/*---------------------------------------------------------------------*/
/*Formatação do header*/
/*---------------------------------------------------------------------*/

header#cabecalho{
	display: inline-block;
	width: 100%;
	border-bottom: 1px #606060 solid;
}

div#box-logo{
	float: left;
}

div#box-logo img{
	display:inline;
	float: left;
	padding: 0px;
	margin-bottom:0px;
}

div#box-logo h1{
	font-family: Arial, sans-serif;
	font-size: 17px;
	color: #606060;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	padding: 0px;
	margin-bottom:0px;
}

div#box-logo h2{
	font-family: Arial, sans-serif;
	font-size: 10px;
	color: #888888;
	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
	padding: 0px;
	margin-top:0px;
}

div hgroup{
	display:inline;
	float: right;
	padding: 0px;
	margin-bottom:0px;
}

/*---------------------------------------------------------------------*/
/*Formatação do menu*/
/*---------------------------------------------------------------------*/
div#box-menu{
	display: block;
	padding: 0px;
	margin: 0px;
	padding-left: 50px;
	text-align: left;
}

div#box-menu nav{
	display: inline-block;
}

nav#menu ul{
	list-style:none;
	text-transform: uppercase;
	padding: 0px;
	margin:0px;
}

nav#menu li{
	display: inline-block;
	padding-right:20px;
	padding-left:20px;
	font-size: 20px;
	background-color: rgba(255,255,206, 1);
}

nav#menu li:hover{
	background-color: #ff6600;
	
}

nav#menu h1{
	display: none;
}

nav#menu a {
	color:black;
	text-decoration: none;
}

nav#menu a:hover{
	color:white;
	text-decoration: underline;
}

/*---------------------------------------------------------------------*/
/*Formatação da Search-Bar*/
/*---------------------------------------------------------------------*/
.form-wrapper {	
	display: inline-block;
	width: 550px;
	height: 30px;
	padding: 20px;
}

.form-wrapper #search {
	display: inline-block;
	border: 1px solid #CCC;
	box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
	border-radius: 3px;
	color: #999;
	font: 15px Arial, sans-serif;
	height: 10px;
	padding: 7px;
	width: 420px;
}

.form-wrapper#search:focus {
	border-color: black;
	box-shadow: 0 1px 1px #bbb inset;
	outline: 0;
}

.form-wrapper #submit {
	display: inline-block;
	background-color: #ff6600;
	border: 1px solid #606060;
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #FFF;
	height: 26px;
	float: right;
	font: 15px Arial, sans-serif;
	padding: 0;
	text-shadow: 0 1px 0 rgba(0, 0 ,0, .3);
	width: 100px;
}

.form-wrapper #submit:hover{
	background-color: white;
}

.form-wrapper #submit:focus {
	background-color: #31b2c3;
}

.form-wrapper #submit:active {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	outline: 0;
}

/*---------------------------------------------------------------------*/
/*Formatação da Section*/
/*---------------------------------------------------------------------*/
section#corpo{
	display: block;
	width: auto;
	padding: 10px;
}
/*---------------------------------------------------------------------*/
/*Formatação do footer*/
/*---------------------------------------------------------------------*/
footer {
	clear: both;
    color: #604040;
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: auto;
}