@charset "UTF-8";

body {
	background-image: url("images/background.png");
}

.footer {
      background-color: #555;
      color: white;
      padding: 15px;
      position: absolute;
      bottom: 0;
      width: 100%;
}

/*Formatação de imagens com legenda*/
figure.foto-legenda{
	border: 2px solid black;
}

figure.foto-legenda img{
	width: 100%;
	height: 100%;
}